/*RESETEO*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Asap';
}

/*BODY: CREACIÓN DE GRID TEMPLATE*/

.grid_container{
  display: grid;
  grid-template-areas:
    "header header header"
    "banner banner banner"
    "main main main"
    "footer footer footer"
    ;

}
/*Declaración de Grid Areas*/

.header{
    grid-area: header;
}

.banner{
  grid-area: banner;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

/*HEADER: NAV*/

.rrss-icon{
  opacity: 1; 
  transition: opacity 0.2s ease-in-out;
}
.rrss-icon:hover{
  opacity: 0.5;
}

@media (max-width: 768px){
    .navbar-toggler {
      border: none;
    }
}
  
/*BANNER: CARRUSEL*/

/* Media Queries Desktop */

@media only screen and (min-width: 992px){
    .carousel-item img.banner-1 {
      content: url('../imgs/banner/Banner 1_Desktop.png');
    }
}
  
  @media only screen and (min-width: 992px){
    .carousel-item img.banner-2 {
      content: url('../imgs/banner/Banner 2_Desktop.png');
    }
}

  @media only screen and (min-width: 992px){
    .carousel-item img.banner-3 {
      content: url('../imgs/banner/Banner 3_Desktop.png');
    }
}

  /* Media Queries Mobile */
  @media only screen and (max-width: 991px){
    .carousel-item img.banner-1 {
      content: url('../imgs/banner/Banner 1_mobile.png');
    }
}

  @media only screen and (max-width: 991px){
    .carousel-item img.banner-2 {
      content: url('../imgs/banner/Banner 2_mobile.png');
    }
}

  @media only screen and (max-width: 991px){
    .carousel-item img.banner-3 {
      content: url('../imgs/banner/Banner 3_mobile.png');
    }
}

/*MAIN: TARJETAS DE PRODUCTOS*/

.main{
    background-color: #fff;
}
.card-title{
    margin:  50px 0;
    font-weight: 900;
}

.product-card{
  border-radius: 10px;
    background-color: #f8f9fa;
    margin: 20px 0 0 0;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.product-card img{
    width: 250px;
    transition: transform 0.2s ease-in-out;
}


.product-card:hover{
    transform: scale(1.03);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img:hover{
  transform: scale(1.03);
}

.button-buy{
    background-color:#424242;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}

.button-buy{
    transition: all 0.3s ease;
}

.button-buy:hover{
    background-color: #000;
    color: #fff;
    transform: translateY(-3px);
}

/*FOOTER*/

.footer{
    margin-top: 45px;
    background-color: #f8f9fa;
}

.rrss-icon{
    width: 30px;
    margin: 5px;
}


/*----PRODUCTOS----*/

#section-product1,
#section-product2,
#section-product3,
#section-product4{
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-width: 90%;
  background-color: #f8f9fa;
  border-radius: 10px;
}

/*SECTION-PRODUCT5: formato cards*/

#section-product5{
  width: 91%;
}
#section-product5 img{
  width: 30%;
}

.product5,
.product6{
  border-radius: 10px;
  border: none;
  background-color: #f8f9fa;
}

/*sección flex centrada*/

.centered-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*animación de imagen de producto*/
#section-product1:hover .move-img,
#section-product2:hover .move-img,
#section-product3:hover .move-img,
#section-product4:hover .move-img{
  transform: translateX(200px);
  transition: all 0.5s ease-in-out;
}

#section-product1 .move-img,
#section-product2 .move-img,
#section-product3 .move-img,
#section-product4 .move-img{
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px){
  #section-product1:hover .move-img,
  #section-product2:hover .move-img,
  #section-product3:hover .move-img,
  #section-product4:hover .move-img{
      transform: translateX(0);
      transition: none;
  }
}

/*animación de texto de producto*/

#section-product1:hover .move-txt,
#section-product2:hover .move-txt,
#section-product3:hover .move-txt,
#section-product4:hover .move-txt{
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
}

#section-product1 .move-txt,
#section-product2 .move-txt,
#section-product3 .move-txt,
#section-product4 .move-txt{
  transition: all 0.5s ease-in-out;
}

@media (max-width: 767px){
  #section-product1:hover .move-txt,
  #section-product2:hover .move-txt,
  #section-product3:hover .move-txt,
  #section-product4:hover .move-txt{
      transform: translateX(0);
      transition: none;
  }
}

/*Animación de imagen 5 y 6 */

.product5 img{
  transition: transform 0.3s ease-in-out;
}

.product5:hover img{
  transform: scale(1.05);
}

.product5:not(:hover) img{
  transform: scale(1);
}

@media (max-width: 767px){
  .product5:hover img{
    transform: scale(1);
    transition: none;
  }
}

@media (max-width: 767px){
  .product5,
  .product6{
    margin-top: 10px;
  }
}

.product6 img{
  transition: transform 0.3s ease-in-out;
}

.product6:hover img{
  transform: scale(1.05);
}

.product6:not(:hover) img{
  transform: scale(1);
}

@media (max-width: 767px){
  .product6:hover img{
    transform: scale(1);
    transition: none;
  }
}

/*----NOSOTROS----*/

.nosotros{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.nosotros section{
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.nosotros h1{
  text-align: center;
  font-size: 80px;
}

.no-parallax{
  background-color:#7e57c2;
  z-index: 999;
}

.parallax::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg::after{
  background: url("../imgs/mapa/map_desktop.jpg");
  background-size: cover;
}

.container-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.no-parallax.contact-info div {
  text-align: center;
  width: 511px;
  gap: 82px;
}
.no-parallax.contact-info div img {
  width: 30%;
  height: auto;
  margin: 20px;
}

/*Media Queries*/

@media only screen and (max-width: 767px) {
  .bg::after{
    background: url("../imgs/mapa/map_mobile.jpg");
    background-size: cover;
  }
  .no-parallax h1 {
    font-size: 50px;
  }
  .container-contact-info {
    flex-direction: column;
  }
  #map-icon-phone,
  #map-icon-whatsapp,
  #map-icon-service {
    width: 150px;
  }
}

/*CONTACTO / Formulario*/

.contact{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contact-form{
  height: 700px;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form h1{
  text-align: center;
  margin-bottom: 20px;
}

.client-data{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea{
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  font-size: 16px;
}

textarea{
  resize: none;
}

.contact-form button[type="submit"]{
  background-color: #7e57c2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover{
  background-color: #673ab7;
}

/* Media queries */

@media only screen and (max-width: 767px){
  section{
    padding: 10px;
  }

  input,
  select,
  textarea{
    font-size: 14px;
  }

  .contact-form button[type="submit"]{
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  section{
    max-width: 500px;
    padding: 15px;
  }

  input,
  select,
  textarea{
    font-size: 16px;
  }

  .contact-form button[type="submit"]{
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px){
  .contact-form label{
    display: block;
    text-align: center;
  }
  .contact-form h1{
    font-size: 26px;
    font-weight: 700;
  }
}


/*COMUNIDAD*/

/*Banner comunidad*/

.slider {
  position: relative;
  width: 1920px;
  height: 400px;
  overflow: hidden;
}

.slider-inner {
  display: flex;
  width: 300%; /* Ancho del slider es 3 veces el ancho de las imágenes */
  transition: transform 0.5s ease-in-out;
}

.slide-community {
  width: 33.33%; /* Ancho de cada slide es 1/3 del ancho total */
}

.slide-community img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-inner {
  animation: slide 12s infinite;
}

.slider-inner:hover {
  animation-play-state: paused;
}


@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(0%);
  }
  33.33% {
    transform: translateX(-33.33%);
  }
  58.33% {
    transform: translateX(-33.33%);
  }
  66.66% {
    transform: translateX(-66.66%);
  }
  91.66% {
    transform: translateX(-66.66%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*main comunidad*/

.file-container{
  margin: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.file-row{
  display: flex;
  flex-direction: row;
}

.file{
  margin: 20px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.file img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.file h2{
  margin-top: 10px;
  font-size: 24px;
}

.file p{
  margin: 10px;
  font-size: 18px;
  text-align: center;
}

.file:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px gray;
}

/* Medias Queries*/

@media only screen and (max-width: 767px) {
  .slider {
    width: 100%;
    height: auto;
  }
  #com-1-img img {
    content: url('../imgs/banners Community/Banner 1_mobile.png');
  }
  #com-2-img img {
    content: url('../imgs/banners Community/Banner 2_mobile.png');
  }
  #com-3-img img {
    content: url('../imgs/banners Community/Banner 3_mobile.png');
  }
}


@media only screen and (max-width: 480px) {
  .file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .file-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
